@keyframes flip {
    0% {
        transform: scale(1, 1);
        border: 2.5px solid gray;
        color: black;
    }
    50% {
        transform: scale(0, 1);
        border: 2.5px solid gray;
        color: black;
    }
    51% {
        transform: scale(0, 1);

        color: white;
        border: 0;
    }
    100% {
        transform: scale(1, 1);
        color: white;
        border: 0;
    }
}

* {
    box-sizing: border-box;
    touch-action: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

#title {
    border-bottom: 3px solid lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    padding-bottom: 15px;
    margin-bottom: 25px;
    line-height: 1;
}

#tiles {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: center;
}

#tiles > div {
    margin: 3px;
    height: 64px;
    width: 64px;
    padding-top: 5px;
    box-sizing: border-box;
    border: 2.5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25pt;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kbRow {
    margin-top: 5px;
}

.kbRow > button {
    font-size: 15pt;
    background-color: lightgray;
    border: 0;
    padding: 15px;
    margin: 2px;
    min-width: 50px;
    height: 67px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
}

button:hover {
    cursor: pointer;
    opacity: 75%;
}

#winScreen {
    position: absolute;
    background-color: lightgray;
    width: 300px;
    padding: 10px;
    visibility: hidden;
}

#shareButton {
    width: 100%;
    background-color: #6aaa64;
    border: 0;
    color: white;
    font-size: 20pt;
    margin-top: 10px;
}

@media (max-width: 720px) {
    body {
        margin: 0px;
        margin-top: 30px;
    }
    #title {
        font-size: 25pt;
        padding-bottom: 0px;
        margin-bottom: 10px;
        border: 0;
    }
    #tiles > div {
        margin: 2px;
        height: 60px;
        width: 60px;
        border: 2.5px solid gray;
    }
    #tiles {
        display: flex;
        flex-wrap: wrap;
        width: 350px;
        justify-content: center;
    }
    .kbRow > button {
        padding: 5px;
        min-width: 30px;
        height: 50px;
        margin: 0px;
    }
    #keyboard {
        width: 100vw;
    }

    #kbEnter,
    #kbDelete {
        font-size: 8pt;
        max-width: 100px;
    }
}
